%% == Erlang Compiler ==

{erl_opts, [debug_info]}.

%% == Relx ==

{relx, [
    {release, {elos, semver}, [
        kernel,
        stdlib,
        sasl,
        elos
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

%% == Profiles ==

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

%% == Xref ==

{xref_checks, [
    undefined_functions
]}.

%% == Shell ==

{shell, [
    {apps, [elos]}%,
    %{sys_config, "./config/sys.config"},
    %{vm_args, "./config/vm.args"}
]}.

%% == Plugins ==

{plugins, [
    rebar3_hex
]}.
